ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  color: #000;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size:14px;
}
li a:hover {
  text-decoration: underline;
}
.grid{
  height:23px;
  position:relative;
  bottom:4px;
}
.signbutton{
  background-color: #4885ed;
  color: #fff;
  border:none;
  border-radius:3px;
  padding:7px 10px;
  position:relative;
  bottom:7px;
  font-weight:bold;
}
.logo{
  margin-top:26px;
  margin-bottom:20px;
}
.bar{
  margin:0 auto;
  width:375px;
  border-radius:30px;
  border:1px solid #dcdcdc;
}
.bar99{
  background-color: white;
  position: relative;
  margin:0 auto;
  width: 375px;
  border-radius:30px;
  border:1px solid #dcdcdc;
}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchbar{
  height:40px;
  border:none;
  width:300px;
  font-size:14px;
  outline: none;
  
}
.searchbar99{
  height:40px;
  border:none;
  width:300px;
  font-size:14px;
  outline: none;
  
}
.voice{
  height:15px;
  position:relative;
  top:1px;
  left:8px;
}
.buttons{
  margin-top:30px;
}
.button{
  background-color: #f5f5f5;
  border:none;
  color:#707070;
  font-size:15px;
  padding: 10px 20px;
  margin:5px;
  border-radius:4px;
  outline:none;
}
.button:hover{
  border: 1px solid #c8c8c8;
  padding: 9px 19px;
  color:#808080;
}
.button:focus{
  border:1px solid #4885ed;
  padding: 9px 19px;
}
.searchicon {
  height:12px;
  position:relative;
  top:0.5px;
   left: 2px;
}
.searchbar9{
  height:40px;
  border:none;
  width: 300px;
  font-size:16px;
  outline: none;
  
}
.bar9 {
  margin:0 auto;
  width: 375px;
  border-radius:30px;
  border:1px solid #dcdcdc;
}
.searchrr {
  height: 800px;
    margin:0 auto;
  width: 365px;
  border-radius:15px;
  border:1px solid #dcdcdc;
  overflow-y:auto;
  margin-top: 5px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
main {
  margin: 0;
  padding: 0;
  min-width: 100%;
  
  font-family: sans-serif;
  text-align: center;
  color: blue;
}
main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > div {
  display: inline-block;
  width: 3px;
  height: 90px;
  margin: 0 7px;
  background: currentColor;
  transform: scaleY(0.5);
  opacity: 0.25;
}
main.error {
  color: #f7451d;
  min-width: 20em;
  max-width: 30em;
  margin: 0 auto;
  white-space: pre-line;
}
